---
layout: default
title: "Intro"
---

<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div>
    <img srcset="/assets/img/author_2x.png 2x" src="/assets/img/author.png" width="64" height="64" alt="author" />
  </div>
  <h1 class="pt-3 font-body text-4xl font-semibold text-primary md:text-5xl lg:text-6xl">
    Hi, I’m {{ site.author }}
  </h1>
  <p class="pt-3 font-body text-xl font-light text-primary">
    I thrive on new challenges and eagerly embrace every opportunity to learn.
  </p>
  <a
    href="/contact"
    class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
    aria-label="Contact me"
  >Say Hello!</a>
</div>

<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="{{ "/assets/img/icon-story.png" | relative_url }}" width="21" height="29" alt="icon story" />
    <h2 class="ml-3 font-body text-2xl font-semibold text-primary">My Story</h2>
  </div>
  <div>
    <p class="font-body font-light text-primary">
      I am a detail-oriented software engineer with a diverse background,
      having worked with companies worldwide, from start-ups to medium-sized organizations.
      <br />
      <br />
      I thrive on new challenges and eagerly embrace every opportunity to learn,
      whether it involves tackling a fresh project, mastering new tools, or assuming a different role.
      <br />
      <br />
      Currently, I leverage the power of Ruby, Rails, and React to deliver exceptional results.
      Moreover, I am actively expanding my skill set by delving into the realms of Elixir and Go.
    </p>
  </div>
</div>

<div class="py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="{{ "/assets/img/icon-post.png" | relative_url }}" width="32" height="21" alt="icon story" />
    <h2 class="ml-3 font-body text-2xl font-semibold text-primary">Latest Content</h2>
  </div>
  <div class="pt-8">
    <div class="flex">
      <div class="w-1/2">
        {% for post in site.posts limit:1 %}
          {% include post.html post=post first=true time=true %}
          <a
            href="/blog/"
            class="mt-3 flex items-center font-body italic text-green transition-colors hover:text-secondary"
            aria-label="All posts"
          >
            All posts
            <img src="{{ "/assets/img/long-arrow-right.png" | relative_url }}" width="16" height="10" class="ml-3" alt="arrow right" />
          </a>
        {% endfor %}
      </div>
      <div class="w-1/2">
        {% for post in site.notes limit:1 %}
          {% include post.html post=post first=true %}
          <a
            href="/til/"
            class="mt-3 flex items-center font-body italic text-green transition-colors hover:text-secondary"
            aria-label="All notes"
          >
            All notes
            <img src="{{ "/assets/img/long-arrow-right.png" | relative_url }}" width="16" height="10" class="ml-3" alt="arrow right" />
          </a>
        {% endfor %}
      </div>
  </div>
</div>
