---
layout: default
title: "Intro"
---

<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div>
    <img src="/assets/img/author.png" class="h-16 w-16" alt="author" />
  </div>
  <h1 class="pt-3 font-body text-4xl font-semibold text-primary md:text-5xl lg:text-6xl">
    Hi, I’m {{ site.author }}
  </h1>
  <p class="pt-3 font-body text-xl font-light text-primary">
    I thrive on new challenges and eagerly embrace every opportunity to learn.
  </p>
  <a
    href="/contact"
    class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
    aria-label="Contact me"
  >Say Hello!</a>
</div>

<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="{{ "/assets/img/icon-story.png" | relative_url }}" width="21" height="29" alt="icon story" />
    <h2 class="ml-3 font-body text-2xl font-semibold text-primary">My Story</h2>
  </div>
  <div>
    <p class="font-body font-light text-primary">
      I am a detail-oriented software engineer with a diverse background,
      having worked with companies worldwide, from start-ups to medium-sized organizations.
      <br />
      <br />
      I thrive on new challenges and eagerly embrace every opportunity to learn,
      whether it involves tackling a fresh project, mastering new tools, or assuming a different role.
      <br />
      <br />
      Currently, I leverage the power of Ruby, Rails, and React to deliver exceptional results.
      Moreover, I am actively expanding my skill set by delving into the realms of Elixir and Go.
    </p>
  </div>
</div>

<div class="py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="{{ "/assets/img/icon-post.png" | relative_url }}" width="32" height="21" alt="icon story" />
    <h2 class="ml-3 font-body text-2xl font-semibold text-primary">Latest Posts</h2>
    <a
      href="/blog"
      class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary"
      aria-label="All posts"
    >
      All posts
      <img src="{{ "/assets/img/long-arrow-right.png" | relative_url }}" width="16" height="10" class="ml-3" alt="arrow right" />
    </a>
  </div>
  <div class="pt-8">
    {% for post in site.posts limit:3 %}
      {% assign first = forloop.first %}
      {% include post.html post=post first=first %}
    {% endfor %}
  </div>
</div>
