<div class="container mx-auto">
  <div class="flex items-center justify-between py-6 lg:py-10">
    <a href="/" class="flex items-center">
      <span href="/" class="mr-2">
        <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="logo" class="mr-2" />
      </span>
    </a>
    <div class="flex items-center lg:hidden">
      <button id="toggle-menu" class="group z-50">
        <svg
          width="24"
          height="15"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current text-primary transition-transform group-[.active]:fill-white group-[.active]:rotate-90"
        >
          <g fill-rule="evenodd">
            <rect width="24" height="3" />
            <rect y="6" width="24" height="3" />
            <rect y="12" width="24" height="3" />
          </g>
        </svg>
      </button>
    </div>
    <div class="hidden lg:block">
      <ul class="flex items-center">
        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
          </div>
          <a
            href="/"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green"
            >Intro</a
          >
        </li>

        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
          </div>
          <a
            href="/blog"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green"
            >Blog</a
          >
        </li>

        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
          </div>
          <a
            href="/til"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green"
            >Til</a
          >
        </li>

        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
          </div>
          <a
            href="/uses"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green"
          >
            Uses
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
