{% assign color = site.data.tags[tag] %}
{% if color == 'cyan' %}
  <span class="inline-block rounded-full bg-tag-cyan-accent px-2 py-1 font-body text-sm text-tag-cyan">
    {{ tag }}
  </span>
{% elsif color == 'sky' %}
  <span class="inline-block rounded-full bg-tag-sky-accent px-2 py-1 font-body text-sm text-tag-sky">
    {{ tag }}
  </span>
{% elsif color == 'red' %}
  <span class="inline-block rounded-full bg-tag-red-accent px-2 py-1 font-body text-sm text-tag-red">
    {{ tag }}
  </span>
{% else %}
  <span class="inline-block rounded-full bg-tag-gray-accent px-2 py-1 font-body text-sm text-tag-gray">
    {{ tag }}
  </span>
{% endif %}
