<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" media="screen" data-turbo-track="reload">
    <script src="{{ "/assets/js/main.js" | relative_url }}" data-turbo-track="reload"></script>
    <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js" defer></script>
  </head>
  <body>
    <div id="main">
      {% include header.html %}
      {% include mobile-menu.html %}

      <div>
        <div class="container mx-auto">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
