---
layout: default
---
<div class="py-16 lg:py-20">
  <div>
    <img srcset="/assets/img/icon-til_2x.png 2x" src="/assets/img/icon-til.png" alt="icon envelope" width="40" height="36" />
  </div>

  <h1 class="pt-5 font-body text-4xl font-semibold text-primary md:text-5xl lg:text-6xl">
    Today I Learned
  </h1>

  <div class="pt-3 sm:w-3/4">
    <p class="font-body text-xl font-light text-primary">
      Short notes from all the things I learned across a variety of languages and technologies.
    </p>
  </div>

  <div class="pt-8 lg:pt-12">
    {% for post in paginator.posts %}
      {% include post.html post=post first=forloop.first %}
    {% endfor %}
  </div>

  {% include pagination.html paginator=paginator %}
</div>
